html, body {
    margin: 0px;
    padding: 0px;
}

a {
    color: #000000;
    text-decoration: none;
}

.header_link:link {
    color: #ffffff;
    text-decoration: none;
}

.header_link:visited {
    color: #ffffff;
    text-decoration: none;
}

.header_link:hover {
    color: #ffffff;
    text-decoration: underline;
}

.header_link:selected {
    color: #ffffff;
    text-decoration: none;
}

.header_div {
    height: 100px;
    background-image: url('images/header_div_background.png');
    background-repeat: repeat-x;
    background-position: left bottom;
    border: none;
    width: 100%;
    margin: 0px auto;
    position: fixed;
    z-index: 100;
    left: 0px;
}

.header_icon {
    width: 80px;
    height: 80px;
    background-image: url('images/icon.png');
    background-size: 100%;
    background-repeat: none;
    position: absolute;
    top: 10px;
    left: 10px;
}

.header_menu {
    width: 400px;
    height: 50px;
    position: absolute;
    top: 50px;
    left: 200px;
}

.header_search {
    width: 200px;
    height: 50px;
    position: absolute;
    top: 40px;
    left: 650px;
}

.header_login {
    width: 80px;
    height: 75px;
    position: absolute;
    float: right;
    top: 25px;
    right: 10px;
    text-align: center;
}

.header_login_icon {
    width: 40px;
    height: 40px;
    background-image: url('images/profile_icon.png');
    background-size: 100%;
    background-repeat: none;
    position: relative;
    top: 0px;
    left: 20px;
}

.header_login_text {
    width: 80px;
    height: 20px;
    position: relative;
    margin-top: 2px;
    top: 0px;
    left: 0px;
}

.body_div {
    width: 100%;
    background: #f2f2f2;
    height: 2000px;
    margin: 100px auto;
    border: none;
    position: absolute;
}

.feedbox_div {
    position: relative;
    border: 1px solid;
    border-radius: 5px;
    border-color: #dbdbdb;
    background-color: #FFFFFF;
    width: 500px;
    margin-left: 0px;
    transition: margin-left .5s ease;
    -moz-transition: margin-left .5s ease; /* Firefox 4 */
    -webkit-transition: margin-left .5s ease; /* Safari and Chrome */
    -o-transition: margin-left .5s ease; /* Opera */
}

.feedbox_div:hover {
    margin-left: 5px;
    border-color: #299dc7;
    transition: margin-left 0s ease;
    -moz-transition: margin-left 0s ease; /* Firefox 4 */
    -webkit-transition: margin-left 0s ease; /* Safari and Chrome */
    -o-transition: margin-left 0s ease; /* Opera */
}

.box_div {
    position: relative;
    border: 1px solid;
    border-radius: 5px;
    border-color: #dbdbdb;
    background-color: #FFFFFF;
    width: 500px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.tab_div {
    transition: left .5s ease;
    -moz-transition: left .5s ease; /* Firefox 4 */
    -webkit-transition: left .5s ease; /* Safari and Chrome */
    -o-transition: left .5s ease; /* Opera */
}

.timeline_div {
    height: 60px;
    margin-left: 10px;
    margin-right: 10px;
    background-image: url('http://www.xtour.ch/images/Timeline_line.png');
    background-repeat: repeat-x;
    background-size: 50px 50px;
    background-position-y: center;
}

.timeline_value_div {
    position: absolute;
}

.timeline_value_img_div {
    position: absolute;
    left: 2px;
    top: 1px;
    width: 30px;
    vertical-align: middle;
}

.timeline_value_div_box {
    position: relative;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.timeline_img {
    transition: width .5s ease;
    -moz-transition: width .5s ease;
    -webkit-transition: width .5s ease;
    -o-transition: width .5s ease;
}

.timeline_value_img {
    vertical-align: middle;
}

.timeline_table {
    text-align: left;
    vertical-align: middle;
    padding-bottom: 5px;
    border-left: solid 1px;
    border-left-color: #C9C9C9;
}

.comment_container_div {
    position: relative;
    margin-top: 15px;
    margin-left: 40px;
    margin-right: 25px;
    border: 1px solid;
    border-color: #dbdbdb
}

.comment_img_div {
    position: absolute;
    top: -15px;
    left: -15px;
    background-color: #ffffff;
}

.comment_header_div {
    position: absolute;
    top: 2px;
    left: 17px;
}

.comment_content_div {
    position: relative;
    margin-top: 20px;
    margin-left: 17px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.comment_content_textfield_div {
    position: relative;
    margin-top: 5px;
    margin-left: 17px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.comment_div {
    border: 1px solid;
    border-color: #dbdbdb;
}

.comment_pic_div {
    position: absolute;
    width: 20px;
    height: 20px;
}

.map_div {
    position: relative;
    width: 150px;
    height: 96px;
    background-image: url('images/map_ch2.png');
    background-size: 150px 96px;
}

.comment_table_top {
    background-image: url('images/comment_background_lineH.png'), url('images/comment_background_lineH2.png');
    background-repeat: repeat-x, no-repeat;
    background-position-x: left, right;
    background-size: 30px 30px, 30px 30px;
}

.comment_table_left {
    background-image: url('images/comment_background_lineV.png'), url('images/comment_background_lineV2.png');
    background-repeat: repeat-y, no-repeat;
    background-position-y: top, bottom;
    background-size: 30px 30px, 30px 30px;
}

.comment_table_middle {
    border-bottom: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
}

.comment_table_top_left {
    background-image: url('images/comment_background_profile.png');
    background-repeat: no-repeat;
    background-size: 30px 30px;
}

.TableItemTop
{
    background-image: url('images/table_background_top.png');
    background-size: 10px 10px;
    background-repeat: repeat-x;
}

.TableItemTopLeft
{
    background-image: url('images/table_background_upper_left.png');
    background-size: 10px 10px;
    background-repeat: no-repeat;
}

.TableItemMiddleLeft
{
    background-image: url('images/table_background_middle_left.png');
    background-size: 10px 10px;
    background-repeat: repeat-y;
}

.TableItemCenter
{
    background-color: #ffffff;
}

.TableItemBottomLeft
{
    background-image: url('images/table_background_lower_left.png');
    background-size: 10px 10px;
    background-repeat: no-repeat;
    background-position: top;
}

.TableItemBottom
{
    background-image: url('images/table_background_bottom.png');
    background-size: 10px 10px;
    background-repeat: repeat-x;
}

.TableItemBottomRight
{
    background-image: url('images/table_background_lower_right.png');
    background-size: 10px 10px;
    background-repeat: no-repeat;
}

.TableItemMiddleRight
{
    background-image: url('images/table_background_middle_right.png');
    background-size: 10px 10px;
    background-repeat: repeat-y;
}

.TableItemTopRight
{
    background-image: url('images/table_background_upper_right.png');
    background-size: 10px 10px;
    background-repeat: no-repeat;
}

.TableItemRight
{
    background-color: #fdfdfd;
    background-image: url('images/feed_box_details.png'), url('images/feed_box_details.png');
    background-size: 100%, 100%;
    background-position: top left, bottom left;
    background-repeat: no-repeat, no-repeat;
}

.TableCommentTop
{
    background-image: url('images/table_comment_top.png');
    background-size: 20px 20px;
    background-repeat: repeat-x;
}

.TableCommentTopLeft
{
    background-image: url('images/table_comment_upper_left.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.TableCommentMiddleLeft
{
    background-image: url('images/table_comment_middle_left.png');
    background-size: 20px 2px;
    background-repeat: repeat-y;
}

.TableCommentCenter
{
    background-color: #f5f8fb;
}

.TableCommentBottomLeft
{
    background-image: url('images/table_comment_lower_left.png');
    background-size: 20px 5px;
    background-repeat: no-repeat;
    background-position: top;
}

.TableCommentBottom
{
    background-image: url('images/table_comment_bottom.png');
    background-size: 20px 5px;
    background-repeat: repeat-x;
}

.TableCommentBottomRight
{
    background-image: url('images/table_comment_lower_right.png');
    background-size: 20px 5px;
    background-repeat: no-repeat;
}

.TableCommentMiddleRight
{
    background-image: url('images/table_comment_middle_right.png');
    background-size: 20px 2px;
    background-repeat: repeat-y;
}

.TableCommentTopRight
{
    background-image: url('images/table_comment_upper_right.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.CommentTopLeft
{
    background-image: url('images/comment_arrow.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    border: none;
}

.CommentTop
{
    border-left: 2px solid #e4e4e4;
    border-right: 2px solid #e4e4e4;
    border-top: 2px solid #e4e4e4;
    border-bottom: none;
    vertical-align: middle;
    padding-left: 5px;
}

.CommentMiddle
{
    border-left: 2px solid #e4e4e4;
    border-right: 2px solid #e4e4e4;
    border-top: none;
    border-bottom: 2px solid #e4e4e4;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.CommentMiddle2
{
    border-left: 2px solid #e4e4e4;
    border-right: 2px solid #e4e4e4;
    border-top: 2px solid #e4e4e4;
    border-bottom: 2px solid #e4e4e4;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.div_overlay
{
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 101;
}

.div_overlay_box
{
    background: rgba(0, 0, 0, 0);
    width: 300px;
    height: 300px;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -150px;
    position: fixed;
    display: none;
    z-index: 102;
}

.div_box_table
{
    background-size: 15px 15px;
    width: 15px;
    height: 15px;
}

.div_moving
{
    display: block;
    visibility: hidden;
    position: fixed;
    z-index: 103;
    padding-top: 10px;
    background-image: url('images/moving_div_background.png');
    background-size: 50px 10px;
    background-repeat: no-repeat;
    background-position: center top;
}

.InputField
{
    border-style: solid;
    border-width: 2px;
    border-color: #C9C9C9;
    font-family: helvetica, arial, sans serif;
    font-size: 12;
    padding-left: 0px;
    height:28px;
    outline:none;
    text-indent: 4px;
}

.InputButton
{
    background-image: 	url('images/button_background.png');
	background-repeat:	no-repeat;
	background-color:	transparent;
    background-size: 80px 25px;
	height:			25px;
	width:			80px;
	border:			none;
    font-family: helvetica;
    color: #ffffff;
    outline:none;
}

.SubmitButton
{
	background-image: 	url(images/search.png);
	background-repeat:	no-repeat;
	background-color:	transparent;
    background-size: 28px 28px;
	height:			28px;
	width:			28px;
	border:			none;
	text-indent:		-999em;
    outline:none;
    margin-left: 2px;
}

.HeaderFont
{
    font-family: helvetica, sans-serif;
    font-size: 14;
    font-weight: 100;
    color: #ffffff;
}

.TourDetailFont
{
    font-family: helvetica, sans-serif;
    font-size: 20;
    font-weight: bold;
    color: #a4a4a4;
}

.CommentHeaderFont
{
    font-family: helvetica, sans-serif;
    font-size: 10;
    font-weight: 100;
    color: #C9C9C9;
}

.CommentFont
{
    font-family: helvetica, sans-serif;
    font-size: 12;
    font-weight: 100;
    color: #000000;
}

.TimeLineFont
{
    font-family: helvetica, sans-serif;
    font-size: 12;
    color: #000000;
}

.TimeLineFontDetailHeader
{
    font-family: helvetica, sans-serif;
    font-size: 12;
    color: #C9C9C9;
}

.TimeLineFontDetail
{
    font-family: helvetica, sans-serif;
    font-size: 14;
    color: #000000;
}

.CommentTextarea
{
    background-image: url('images/ShiftEnterKey.png');
    background-size: 50px 18px;
    background-repeat: no-repeat;
    background-position: right bottom;
    width: 100%;
    height: 20px;
    font-family: helvetica, sans-serif;
    border: none;
    background-color: #ffffff;
    outline: none;
    resize: none;
}

.FileUploadWrapper
{
    height: 60px;
    width: 60px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    background-image: url('images/add_profile_picture.png');
    background-size: 60px 60px;
}

.FileUpload
{
    cursor: pointer;
    height: 100%;
    position:absolute;
    top: 0;
    right: 0;
    font-size:50px;
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)
}

.DivLoading
{
    width: 80px;
    height: 27px;
    position: relative;
    top: 0;
    left: 10;
}
